<!DOCTYPE html>
<html>
<head>
    <title>Whatismyip</title>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center>
    <h1>Your ip is <%= ip%></h1>
    <h2>You are from <%= city%></h2>
    <h2><%= region%></h2>
    <h2><%= country%></h2>
    </center>
</body>
</html>